* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 545px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.right {
    overflow: hidden;
    overflow-y: scroll;
}

.fa-plus-circle {
    font-size: 48px;
    color: rgb(80, 80, 80);
}
