<div class="list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">


    <ul class="list">
        <li *ngFor="let user of users" class="list-item">
            <div>
                <img src="{{user.imageUrl}}" class="list-item-image">
            </div>
            <div class="list-item-content">
                <h4>{{user.nom | uppercase}} {{user.prenom | titlecase}}</h4>
                <p>@{{user.poste}}</p>
            </div>
            <div class="action-container">
                <button routerLink="/editUser/{{user.id}}" class="edit-btn"><i class="fa fa-edit" ></i></button>
                <button (click)="onDeleteUser(user.id)" class="delete-btn"><i class="fa fa-trash" ></i></button>
                <button (click)="onViewUser(user.id)"><i class="fa fa-eye"></i></button>
            </div>
        </li>
    </ul>

</div>
