<div class="list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
    <a id="add-btn" routerLink="/addUser"><i class="fa fa-plus-circle"></i></a>

    <ul class="list">
        <li class="list-item">
            <div>
                <img src="https://www.w3schools.com/howto/img_avatar2.png" class="list-item-image">
            </div>
            <div class="list-item-content">
                <h4>Hitesh KumarAAAAAAA</h4>
                <p>@hk-skit</p>
            </div>
            <div class="action-container">
                <button routerLink="" class="edit-btn"><i class="fa fa-edit" ></i></button>
                <button routerLink="" class="delete-btn"><i class="fa fa-trash" ></i></button>
            </div>
        </li>
        <li class="list-item">
            <div>
                <img src="https://www.w3schools.com/howto/img_avatar.png" class="list-item-image">
            </div>
            <div class="list-item-content">
                <h4>Hitesh Kumar</h4>
                <p>@hk-skit</p>
            </div>
        </li>
    </ul>

</div>
