body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    background: #e3e9f7;
}

.logo {
    padding: 20px;
    padding-left: 25%;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2b2626
}

nav ul li {
    list-style: none
}

nav ul li a {
    display: block;
    font-family: 'montserrat';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    position: relative;
    padding: 15px 0px 15px 25px;
    transition: all 0.5s
}

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #e3e9f7;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 1s
}

nav ul li a:hover {
    color: #2b2626
}

nav ul li a:hover:before {
    width: 95%
}

.box-area h2 {
    text-transform: uppercase;
    font-size: 30px
}

.active {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #073cb6;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 1s
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background: rgb(189, 189, 189);
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background: #073cb6;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    left: 100%;
    margin-top: -25%;
}
