<legend>Ajout Utilisateur</legend>
<form action="">

    <div class="colums">
        <div class="item">
            <label for="fname">Prénom<span>*</span></label>
            <input id="fname" type="text" name="fname" />
        </div>
        <div class="item">
            <label for="lname">Nom<span>*</span></label>
            <input id="lname" type="text" name="lname" />
        </div>
        <div class="item">
            <label for="address">Adresse Email<span>*</span></label>
            <input id="address" type="text" name="address" />
        </div>
        <div class="item">
            <label for="phone">Numéro Téléphone</label>
            <input id="phone" type="tel" name="phone" />
        </div>
        <div class="item">
            <label for="saddress">Rue</label>
            <input id="saddress" type="text" name="city" />
        </div>
        <div class="item">
            <label for="city">Ville</label>
            <input id="city" type="text" name="city" />
        </div>
        <div class="item">
            <label for="zip">Code Postal</label>
            <input id="zip" type="text" name="zip" />
        </div>
        <div class="item">
            <label for="country">Pays</label>
            <input id="country" type="text" name="text" />
        </div>
        <div class="item">
            <label for="poste">Poste</label>
            <input id="poste" type="text" name="text" />
        </div>
        <div class="item">
            <label for="poste">ROLE</label>
            <select name="ROLES" id="role-select">
              <option value="USER">USER</option>
              <option value="ADMIN">ADMIN</option>

          </select>
        </div>
    </div>
    <button type="submit">Confirmer</button>
</form>
